.footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px 4px;
    row-gap: 16px;
    p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #7E7E82;
        opacity: 0.72;
    }
    @media(min-width:768px) {
        display: flex;
        justify-content: space-between;
        padding: 32px 24px;
        p {
            max-width: 25%
        }
    }
    @media(min-width:768px) {
        padding: 32px 32px 20px 32px;
        p {
            max-width: 25%
        }
    }
}