@import "fonts";
@import "header";
@import "perem";
@import "service";
@import "brands";
@import "technics";
@import "price-list";
@import "footer";
@import "menu";
@import "elemMain";
@import "modal-call";
@import "modal-feedback";
body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: $grayBack;
    font-family: 'TT Lakes Regular';
    @media(min-width: 1440px) {
        position: static;
        display: flex;
    }
}