@import "perem";
.menu {
    top: 0;
    left: -320px;
    display: none;
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    height: 100%;
    z-index: 50;
    background-color: $white;
    box-shadow: -2px 0px 4px $shadowMenu1, 16px 0px 52px $shadowMenu2;
    @media (min-width: 320px) {
        max-width: 320px;
        position: absolute;
        height: 676px;
    }
    @media (min-width: 360px) {
        left: -360px;
        max-width: 360px;
    }
    @media (min-width: 768px) {
        max-width: 320px;
        height: 1024px;
        left: -320px;
    }
    @media (min-width: 1440px) {
        box-shadow: none;
        display: block;
        position: static;
        order: 0;
        height: auto;
    }
    &-header {
        justify-self: flex-start;
        height: 60px;
        padding: 12px 24px;
        display: flex;
        justify-content: space-between;
        &__escape {
            display: grid;
            grid-template-columns: 40px 1fr;
            column-gap: 16px;
            align-items: center;
        }
        &__search {
            padding: 8px 0;
        }
    }
    &__height {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        @media (min-width: 768px) {
            height: 964px;
        }
    }
    &__container {
        background-color: inherit;
        padding: 24px 32px;
        margin-bottom: auto;
        justify-self: flex-start;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                position: relative;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.2px;
                margin-bottom: 24px;
                 :hover::before {
                    content: '';
                    width: 4px;
                    height: 32px;
                    background: $pointGr;
                    position: absolute;
                    left: -32px;
                    top: -4px;
                }
                a {
                    font-weight: 700;
                    text-decoration: none;
                    color: $mainText1;
                }
            }
            li:last-child {
                margin-bottom: 0px;
            }
        }
    }
    &-footer {
        @media (min-width: 320px) {
            padding: 0 16px 32px 16px;
        }
        @media (min-width:360px) {
            padding: 0 24px 32px 24px;
        }
        @media (min-width:1440px) {
            padding: 0 19px 32px 19px;
        }
        &__call-back {
            display: flex;
            justify-content: flex-start;
            button {
                display: block;
                margin-right: 16px;
            }
            button:last-child {
                margin-right: 0px;
            }
        }
        &__mail {
            padding: 0;
            margin: 0;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $vspText;
            margin-top: 16px;
            margin-bottom: 12px;
        }
        &__phone {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.6px;
            color: $mainText1;
            font-weight: 700;
            margin: 0;
            padding: 0;
            margin-bottom: 40px;
            @media (min-width: 320px) {
                margin-bottom: 8px;
            }
            @media (min-width:768px) {
                margin-bottom: 40px;
            }
        }
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            li {
                margin-right: 7px;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.2px;
                color: $mainText1;
            }
            .language_active {
                //цвет активного языка
                color: $linkText;
                border: 0.5px solid $salat;
                background-color: $langBack;
            }
        }
        .language li {
            cursor: pointer;
        }
    }
    &-close {
        display: block;
        animation-name: transformMenuCl320;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        @media(min-width: 360px) {
            animation-name: transformMenuCl360;
        }
        @media(min-width:768px) {
            animation-name: transformMenuCl320;
        }
    }
    &-open {
        display: block;
        animation-name: transformMenuOp320;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        @media(min-width: 360px) {
            animation-name: transformMenuOp360;
        }
        @media(min-width:768px) {
            animation-name: transformMenuOp320;
        }
    }
}

@keyframes transformMenuOp360 {
    100% {
        transform: translateX(360px)
    }
}

@keyframes transformMenuCl360 {
    0% {
        transform: translateX(360px)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes transformMenuOp320 {
    100% {
        transform: translateX(320px)
    }
}

@keyframes transformMenuCl320 {
    0% {
        transform: translateX(320px)
    }
    100% {
        transform: translateX(0)
    }
}