// colors
$grayBack:rgba(248, 248, 248, 1); //основной фон(сероватый);
$whiteGreen:rgba(217, 255, 245, 1); //цвет границ разделов
$white:#FFFFFF; //основной белый 
$pink:rgba(255, 62, 121, 1); //кнопки хедера,
$salat :rgb(114, 228, 163); //ховер кнопок хедера(надо будет сменить)
$delimiter:#EAEAEA; //разедитель в хедере
$pointGr:rgba(65, 246, 215, 1); //указатели слева от элементов
$mainText1:rgba(27, 28, 33, 1); //h1,прайст лист 
$vspText:#1B1C21; //цвет текста в хедере 2, в таблице прайс-листа
$linkText:rgba(126, 126, 130, 1); //цвет ссылок по умолчанию
$linkHover:rgba(184, 255, 236, 1); //цвет границ ссылок при наведении
$mainText2:#7E7E82; //h2,элементы прайса листа(текст)
$elemBord:rgba(234, 234, 234, 1); //границы элементов
$pagination:rgb(126, 126, 236); //думаю понятно что это
$pinkBut:#FF3E79; //цвет кнопок из прайс-листа
$blueHover:rgb(171, 171, 233);
//
$shadowMenu1:rgba(69, 79, 126, 0.02);
$shadowMenu2:rgba(14, 24, 80, 0.2);
//
$langBack:rgba(114, 228, 163, 0.25);