.price-list320 {
    &__container {
        padding: 16px 8px 0 8px;
        @media(min-width: 768px) {
            display: none;
        }
    }
    &__element {
        box-sizing: border-box;
        min-width: 260px;
        padding: 16px;
        background-color: white;
        display: flex;
        flex-direction: column;
        div:first-child {
            margin-bottom: 16px;
        }
        div:nth-child(2) {
            margin-bottom: 16px;
        }
        div:nth-child(3) {
            display: flex;
            justify-content: space-between;
            div:nth-child(2) {
                align-self: flex-end;
            }
        }
    }
    &__character {
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        opacity: 0.72;
    }
    &__value {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: rgba(27, 28, 33, 1);
    }
    .price_button {
        color: white;
        width: 119px;
        height: 32px;
        border: none;
        padding: 4px 12px;
        text-align: left;
        border-radius: 16px;
        background: #FF3E79 url('../img/goside.svg') no-repeat 90% center;
        span {
            font-size: 12px;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
    &__block {
        padding-bottom: 40px;
    }
}

.price-list768 {
    max-width: 100%;
    @media(min-width: 0px) {
        display: none;
    }
    @media(min-width: 768px) {
        display: block;
        padding: 24px 24px;
    }
    @media(min-width:1440px) {
        display: block;
        padding: 32px 32px;
    }
    tr {
        height: 64px;
    }
    table {
        width: 100%;
        background-color: white;
        border-spacing: auto;
        white-space: nowrap;
        border-collapse: collapse;
    }
    td,
    th {
        padding: 16px 0 16px 24px;
        border-bottom: 1px solid #EAEAEA;
        // border-bottom: 1px solid #EAEAEA;
    }
    td:last-child {
        padding-right: 16px;
    }
    th {
        text-align: left;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        opacity: 0.72;
    }
    tr:first-child th {
        background-color: #F8F8F8;
        border-bottom: none;
    }
    tr:last-child td {
        border-bottom: none;
    }
    tr td:last-child {
        text-align: right;
    }
}

.price-info {
    padding: 0 16px;
    @media(min-width: 768px) {
        padding: 0 24px;
        max-width: 60%;
    }
    @media(min-width: 1440px) {
        padding: 32px;
        max-width: 40%;
    }
    p:first-child {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    p:last-child {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: -0.2px;
        color: #1B1C21;
        button {
            border: none;
            width: 24px;
            height: 24px;
            background: url('../img/more.svg') no-repeat center 7.5px;
        }
    }
}